In [1]:
import pandas as pd
import numpy as np
import os,sys

In [4]:
df = pd.read_csv('Admission_Predict_Ver1.1.csv')
df

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
5,6,330,115,5,4.5,3.0,9.34,1,0.90
6,7,321,109,3,3.0,4.0,8.20,1,0.75
7,8,308,101,2,3.0,4.0,7.90,0,0.68
8,9,302,102,1,2.0,1.5,8.00,0,0.50
9,10,323,108,3,3.5,3.0,8.60,0,0.45
10,11,325,106,3,3.5,4.0,8.40,1,0.52
11,12,327,111,4,4.0,4.5,9.00,1,0.84
12,13,328,112,4,4.0,4.5,9.10,1,0.78
13,14,307,109,3,4.0,3.0,8.00,1,0.62
14,15,311,104,3,3.5,2.0,8.20,1,0.61
15,16,314,105,3,3.5,2.5,8.30,0,0.54
16,17,317,107,3,4.0,3.0,8.70,0,0.66
17,18,319,106,3,4.0,3.0,8.00,1,0.65
18,19,318,110,3,4.0,3.0,8.80,0,0.63
19,20,303,102,3,3.5,3.0,8.50,0,0.62
20,21,312,107,3,3.0,2.0,7.90,1,0.64
21,22,325,114,4,3.0,2.0,8.40,0,0.70
22,23,328,116,5,5.0,5.0,9.50,1,0.94
23,24,334,119,5,5.0,4.5,9.70,1,0.95
24,25,336,119,5,4.0,3.5,9.80,1,0.97
25,26,340,120,5,4.5,4.5,9.60,1,0.94
26,27,322,109,5,4.5,3.5,8.80,0,0.76
27,28,298,98,2,1.5,2.5,7.50,1,0.44
28,29,295,93,1,2.0,2.0,7.20,0,0.46
29,30,310,99,2,1.5,2.0,7.30,0,0.54
...,...,...,...,...,...,...,...,...,...
470,471,320,110,5,4.0,4.0,9.27,1,0.87
471,472,311,103,3,2.0,4.0,8.09,0,0.64
472,473,327,116,4,4.0,4.5,9.48,1,0.90
473,474,316,102,2,4.0,3.5,8.15,0,0.67
474,475,308,105,4,3.0,2.5,7.95,1,0.67
475,476,300,101,3,3.5,2.5,7.88,0,0.59
476,477,304,104,3,2.5,2.0,8.12,0,0.62
477,478,309,105,4,3.5,2.0,8.18,0,0.65
478,479,318,103,3,4.0,4.5,8.49,1,0.71
479,480,325,110,4,4.5,4.0,8.96,1,0.79
480,481,321,102,3,3.5,4.0,9.01,1,0.80
481,482,323,107,4,3.0,2.5,8.48,1,0.78
482,483,328,113,4,4.0,2.5,8.77,1,0.83
483,484,304,103,5,5.0,3.0,7.92,0,0.71
484,485,317,106,3,3.5,3.0,7.89,1,0.73
485,486,311,101,2,2.5,3.5,8.34,1,0.70
486,487,319,102,3,2.5,2.5,8.37,0,0.68
487,488,327,115,4,3.5,4.0,9.14,0,0.79
488,489,322,112,3,3.0,4.0,8.62,1,0.76
489,490,302,110,3,4.0,4.5,8.50,0,0.65
490,491,307,105,2,2.5,4.5,8.12,1,0.67
491,492,297,99,4,3.0,3.5,7.81,0,0.54
492,493,298,101,4,2.5,4.5,7.69,1,0.53
493,494,300,95,2,3.0,1.5,8.22,1,0.62
494,495,301,99,3,2.5,2.0,8.45,1,0.68
495,496,332,108,5,4.5,4.0,9.02,1,0.87
496,497,337,117,5,5.0,5.0,9.87,1,0.96
497,498,330,120,5,4.5,5.0,9.56,1,0.93
498,499,312,103,4,4.0,5.0,8.43,0,0.73
499,500,327,113,4,4.5,4.5,9.04,0,0.84

In [7]:
df_txt = pd.read_csv('Fremont_weather.txt')
df_txt

   month  avg_high  avg_low  record_high  record_low  avg_precipitation
0    Jan        58       42           74          22               2.95
1    Feb        61       45           78          26               3.02
2    Mar        65       48           84          25               2.34
3    Apr        67       50           92          28               1.02
4    May        71       53           98          35               0.48
5    Jun        75       56          107          41               0.11
6    Jul        77       58          105          44               0.00
7    Aug        77       59          102          43               0.03
8    Sep        77       57          103          40               0.17
9    Oct        73       54           96          34               0.81
10   Nov        64       48           84          30               1.70
11   Dec        58       42           73          21               2.56

In [17]:
df_txt.values, df_txt.columns, df_txt.index

(array([['Jan', 58, 42, 74, 22, 2.95],
        ['Feb', 61, 45, 78, 26, 3.02],
        ['Mar', 65, 48, 84, 25, 2.34],
        ['Apr', 67, 50, 92, 28, 1.02],
        ['May', 71, 53, 98, 35, 0.48],
        ['Jun', 75, 56, 107, 41, 0.11],
        ['Jul', 77, 58, 105, 44, 0.0],
        ['Aug', 77, 59, 102, 43, 0.03],
        ['Sep', 77, 57, 103, 40, 0.17],
        ['Oct', 73, 54, 96, 34, 0.81],
        ['Nov', 64, 48, 84, 30, 1.7],
        ['Dec', 58, 42, 73, 21, 2.56]], dtype=object),
 Index(['month', 'avg_high', 'avg_low', 'record_high', 'record_low',
        'avg_precipitation'],
       dtype='object'),
 RangeIndex(start=0, stop=12, step=1),
         avg_high    avg_low  record_high  record_low  avg_precipitation
 count  12.000000  12.000000    12.000000   12.000000          12.000000
 mean   68.583333  51.000000    91.333333   32.416667           1.265833
 std     7.366488   6.060303    12.323911    8.240238           1.186396
 min    58.000000  42.000000    73.000000   21.000000           0.000000
 25%    63.250000  47.250000    82.500000   25.750000           0.155000
 50%    69.000000  51.500000    94.000000   32.000000           0.915000
 75%    75.500000  56.250000   102.250000   40.250000           2.395000
 max    77.000000  59.000000   107.000000   44.000000           3.020000)

In [19]:
df_txt.describe()

        avg_high    avg_low  record_high  record_low  avg_precipitation
count  12.000000  12.000000    12.000000   12.000000          12.000000
mean   68.583333  51.000000    91.333333   32.416667           1.265833
std     7.366488   6.060303    12.323911    8.240238           1.186396
min    58.000000  42.000000    73.000000   21.000000           0.000000
25%    63.250000  47.250000    82.500000   25.750000           0.155000
50%    69.000000  51.500000    94.000000   32.000000           0.915000
75%    75.500000  56.250000   102.250000   40.250000           2.395000
max    77.000000  59.000000   107.000000   44.000000           3.020000

In [23]:
## sort operation based on ascending descending
df_txt.sort_values('avg_high', ascending= True)

   month  avg_high  avg_low  record_high  record_low  avg_precipitation
0    Jan        58       42           74          22               2.95
11   Dec        58       42           73          21               2.56
1    Feb        61       45           78          26               3.02
10   Nov        64       48           84          30               1.70
2    Mar        65       48           84          25               2.34
3    Apr        67       50           92          28               1.02
4    May        71       53           98          35               0.48
9    Oct        73       54           96          34               0.81
5    Jun        75       56          107          41               0.11
6    Jul        77       58          105          44               0.00
7    Aug        77       59          102          43               0.03
8    Sep        77       57          103          40               0.17

In [34]:
# getting column values by indexing and slicing
df_txt.avg_low, df_txt['avg_low']
df_txt.shape,df_txt.size

((12, 6), 72)

In [41]:
df_txt[2:4]

  month  avg_high  avg_low  record_high  record_low  avg_precipitation
2   Mar        65       48           84          25               2.34
3   Apr        67       50           92          28               1.02

In [49]:
df_txt[['month','avg_low','avg_high']]

   month  avg_low  avg_high
0    Jan       42        58
1    Feb       45        61
2    Mar       48        65
3    Apr       50        67
4    May       53        71
5    Jun       56        75
6    Jul       58        77
7    Aug       59        77
8    Sep       57        77
9    Oct       54        73
10   Nov       48        64
11   Dec       42        58

In [53]:
# by loc
df_txt.loc[2:4,['avg_low','avg_high']]
df_txt.loc[4,['avg_low','avg_high']]

avg_low     53
avg_high    71
Name: 4, dtype: object

In [60]:
# list comprehension with only if condition
under_10 = [x for x in range(10) if x>5 ]
# list comprehension with if else
under_10 = [x if x > 5 else 0 for x in range(10)]

print('under_10: ' + str(under_10))

under_10: [0, 0, 0, 0, 0, 0, 6, 7, 8, 9]

In [61]:
# nested loop list comprehension
[[i*j for j in range(1,11)] for i in range(7,9)]

[[7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80]]